# Logs
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# Firebase config
.firebaserc

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Sensitive files
service-account.json

.DS_Store